* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.wrapper .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 10px 100px;
}

.wrapper .header h3 {
    size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.wrapper .header ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: #1F2937;
}

.hero .hero-left {
    width: calc(50% - 60px);
}

.hero .hero-left h1 {
    size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero .hero-left p,
.header ul li {
    size: 18px;
    color: #E5E7EB;
}

.hero .hero-left button {
    border-style: none;
}

.hero .hero-right {
    background-color: gray;
    width: auto;
    height: 200px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-box h2 {
    size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 50px 0px;
}

.info-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 50px 100px;
    gap: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    word-wrap: normal;
}

.info pic {
    border-style: solid;
    border-color:#3882F6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.info p {
    margin: auto;
    text-align: center;
    width: 150px;
}

.quote-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote-box .quote-box-alignment {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.quote-box .quote-box-alignment .quote-text {
    word-wrap: normal;
    font-style: italic;
    color: #1F2937;
    font-size: 36px;
    margin-bottom: 5px;
    margin-top: 50px;
}

.quote-box .quote-box-alignment .quote-attr {
    align-self: end;
    font-size: 28px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 5px;
    margin-bottom: 50px;
}

.cta-colorbox {
    display: flex;
    background-color: #3882F6;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
    margin: 50px 200px;
    border-radius: 8px;
}

.cta-colorbox .cta-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cta-text p {
    margin: 0;
}

.cta-text-header {
    font-size: 28px;
    font-weight: 800;
}

button {
    padding: 5px 20px;
    background-color: #3882F6;
    border-radius: 4px;
    color: #F9FAF8;
    white-space: nowrap;
}

.cta-colorbox button {
    border-color: #F9FAF8;
    border-style: solid;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color:#F9FAF8
}